@use "config";
@use "subpage";

@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(820px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1180px)) {
    @content;
  }
}


/* =================================
header
 ================================= */
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  transition: transform 0.3s;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #F7931E;


  @include tab {
    height: 62px;
  }


  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1240px;
    margin: 0 auto;
    gap: 24px;
    padding: 8px 16px;
    height: 70px;

    @include tab {
      justify-content: space-between;
      padding: 4px 16px;
      height: 62px;
    }
  }


  &__ttl-wrap {
    max-width: 400px;
    margin: 0 auto 0 0;

    @include tab {
      max-width: 220px;
      gap: 2px;
    }


  }


  &__menu-wrap {

    @include tab {
      display: none;
    }
  }

  &__menu-inner {
    display: flex;
    gap: 40px;

    @include pc {
      gap: 18px;
    }
  }

  &__menu {
    color: #19761e;
    font-weight: bold;
  }

  &__btn-wrap {
    display: none;

    @include tab {
      display: block;
      cursor: pointer;
      z-index: 99;
      top: 18px;
      right: 12px;
      position: absolute;
    }
  }

  &__btn-img {
    width: 26px;
  }

  &__breadcrumb-wrap {
    height: 29px;
    position: fixed;
    top: 78px;
    width: 100%;
    line-height: 32px;
    font-size: 13px;
    color: rgb(92, 92, 92);
    opacity: 0;
    transition: all 0.3s;

    &.active {
      opacity: 1;
    }

    @include tab {
      top: 59px;
    }
  }

  &__breadcrumb {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 12px;

    @include tab {
      padding: 0 8px 0 28px;
    }
  }
}




.header-sp {
  opacity: 0;
  transition: all 0.3s;
  transform: translate(100%, 0);
  z-index: 101;
  position: fixed;
  top: -4px;
  right: 0;
  padding: 80px 40px 0;
  background-color: #fff;
  height: 100vh;
  width: 100%;

  &.black {

    .header__menu,
    .header__ttl-span {
      color: #1C1C1C;

      &--contact {
        background-color: #00a2ff;
        color: #fff;
      }
    }
  }

  &.active {
    opacity: 1;
    transition: all 0.3s;
    transform: translate(0, 3px);
    z-index: 100;
  }

  &__btn-img {
    width: 26px;
    display: block;
    cursor: pointer;
    z-index: 99;
    top: 18px;
    right: 12px;
    position: absolute;
  }

  &__link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }

  &__link-item {
    display: flex;
    gap: 10px;
    color: #fff;

    img {
      width: 24px;
    }

    span {
      white-space: nowrap;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    margin: 0 0 24px;
  }

  &__menu-item {
    color: #19761e;
    font-weight: bold;

  }
}


/* =================================
トップページ
 ================================= */
.page-top {

  &__menu-wrap {
    display: flex;
    max-width: 1120px;
    margin: 96px auto 64px;
    gap: 16px;
    padding: 0 16px;

    @include tab {
      max-width: 500px;
      flex-wrap: wrap;
      gap: 8px;
      margin: 12px auto 24px;


    }
  }

  &__menu-item {
    width: calc((100% - 42px) / 4);

    @include tab {
      width: calc((100% - 8px) / 2);
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

}


// メインビジュアル
.main-visual {
  position: relative;


  &__inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;


  }

  &__lead {
    position: absolute;
    top: 24px;
    left: 24px;
    max-width: 480px;

    @include pc {
      max-width: 320px;
    }

    @include tab {
      max-width: 220px;
      top: 8px;
      left: 8px;
    }

    @include sp {
      max-width: 180px;
    }
  }

  &__text {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 660px;
    background-color: #fff;
    padding: 16px 24px;
    color: #19761e;
    border-radius: 12px;
    border: 1px solid #c0c0c0;

    @include pc {
      bottom: -70px;
    }

    @include tab {
      position: relative;
      width: 95%;
      bottom: 12px;
      padding: 16px;

    }
  }





}

/* =================================
スケジュール
 ================================= */

.top-schedule {
  background-color: #f2f2f2;
  position: relative;

  &__dec01 {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 200px;

    @include tab {
      max-width: 120px;
    }
  }

  &__dec02 {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 200px;


    @include tab {
      max-width: 120px;
    }
  }


  &__inner {
    padding: 80px 16px;
    max-width: 800px;
    margin: 0 auto;

    @include tab {
      padding: 40px 16px;
    }
  }

  &__ttl {
    max-width: 240px;
    margin: 0 0 40px;

    @include tab {
      max-width: 200px;
      margin: 0 auto 24px;

    }
  }

  &__ {}

  &__article {
    font-weight: bold;
    background-color: #fff;
    padding: 24px 60px;
    border-radius: 24px;
    display: block;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0 0 24px;

    @include tab {
      padding: 16px 16px;
      border-radius: 8px;

    }
  }

  &__item-wrap {
    display: flex;
    gap: 60px;
    align-items: baseline;
    padding: 0 4px;

    @include tab {
      gap: 24px;
    }
  }

  &__item {

    span {
      font-size: 26px;
      margin: 0 4px 0 0;

      @include tab {
        font-size: 22px;
      }
    }
  }

  &__schedule-ttl {
    border-top: #c0c0c0 1px solid;
    border-bottom: #c0c0c0 1px solid;
    display: flex;
    gap: 29px;
    margin: 12px 0 0;
    padding: 12px 4px;
    align-items: center;

    @include tab {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

    }
  }

  &__schedule-ttl-left {}

  &__schedule-ttl-right {
    font-size: 22px;
    color: #f15924;
    ;

    span {
      margin: 0 8px 0 0;
    }

    @include tab {
      font-size: 20px;
    }
  }

  &__btn {
    display: block;
    max-width: 240px;
    margin: 80px auto 0;

    @include tab {
      margin: 40px auto 0;
    }
  }


}


/* =================================
footer
 ================================= */

.footer {
  background-color: #19761e;
  position: relative;

  &__inner {
    padding: 40px 16px 24px;
    max-width: 740px;
    margin: 0 auto;

    @include tab{
    padding: 40px 16px 24px 40px;
    }

  }

  &__logo {
    max-width: 50px;
    margin: 0 0 20px;
  }

  &__content {
    display: flex;

    @include tab {
      flex-direction: column;
      gap: 32px;
    }
  }

  &__left {
    padding: 16px 24px 16px 0;
    border-right: 1px solid #fff;

    @include tab {
      padding: 0;
      border-right: none;
    }
  }

  &__center {
    padding: 16px 24px;
    border-right: 1px solid #fff;

        @include tab {
      padding: 0;
      border-right: none;
    }


  }

  &__right {
    padding: 30px 0 0 24px;

        @include tab {
      padding: 0;
    }
  }

  &__text {

    color: #fff;
    font-size: 14px;

    &--margin {
      margin: 0 0 12px;
    }

    a {
      color: #fff;
      font-size: 14px;

    }
  }

  &__ttl {
    color: #fff;
    font-size: 17px;

  }

  &__bottom{
    color: #19761e;
    font-size: 12px;
    background-color: #fff;
    text-align: center;
    padding: 4px;
  }

  &__ {}

  &__ {}

  &__ {}

  &__menu {
    display: block;
    color: #fff;
    font-size: 14px;

    @include tab {
      flex-direction: column;
      align-items: center;
      gap: 8px;
    }
  }

  

  &__top-btn {
    position: absolute;
    width: 60px;
    cursor: pointer;
    top: -24px;
    right: 40px;
    z-index: 2;

    @include sp {
      right: 12px;

    }
  }
}